
.navbar {
    margin-bottom: rem(10px);
    @include for-mobile-layout {
      padding: 20px
    }
    h3{
      font-weight: 600;
        img{
            margin-right: 4px;
            width: 20px;
            height: 20px;
        }
    }
    .links{
        gap: 10px;
        @include for-mobile-layout {
            display: none;
          }

    }

  
    .mobile-nav {
      display: none;
  
      @include for-mobile-layout {
        display: flex;
      }
      img{
        width: 25px;
        height: 25px;
        cursor: pointer;
      }
      .mobile-model{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 250px;
        height: 200px;
        background-color: azure;
        gap: 15px;
        position: fixed;
        padding: 15px;
        z-index: 100;
        button{
            right: 2px;
            top: 2px;
            position: absolute;
        }
      }
  
  
    }
  
  }
  