.App{
    padding: 20px 80px;
    min-height: 100vh;
    background-image:   linear-gradient(to bottom, rgba(255, 252, 252, 0.1), rgba(252, 247, 224, 0.1)),
     url("../../imgs/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      @include for-normal-layout {
        padding: 20px 40px;
      }
      @include for-mobile-layout {
        padding: 10px 20px;
      }
}

.home{
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  min-height: 85vh;
    box-shadow:
      rgba(22, 31, 39, 0.42) 0px 60px 123px -25px,
      rgba(19, 26, 32, 0.08) 0px 35px 75px -35px;
    border-radius: 10px;
    border: 1px solid;
    border-color:
      rgb(213, 220, 226)
      rgb(213, 220, 226)
      rgb(184, 194, 204);
      background-color: aliceblue;
      opacity: .8;
  h2{
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .add-btn{
    margin-left: 15px;
    @include for-mobile-layout {
      margin-left: 8px;
    }
    img{
      width: 30px;
    }
    img:hover{
      width: 31px;
    }
    }

  .mesaage{
    margin: 20px;
    font-weight: 700;
    font-size: 18px;
  }
  .select-buttons{
    gap: 10px;
    margin: 5px 10px;
    padding: 10px;
    flex-wrap: wrap;
    button{
      border-radius: 8px;
      padding: 5px;
      font-family: system-ui;
      background-color: $clr10;
      color: #fff;
      font-weight: 600;

    }
  }
  .count-jobs{
    font-weight: 600;
    margin-left: rem(25px);
    margin-top: 8px;
  }
}