.job-modal {
  z-index: 100;
  padding: 15px;

  .modal-content {
    border-radius: 12px;
    height: 50vh;
    width: 40vw;
    padding: rem(20px);
    gap: rem(10px);
    font-size: rem(18px);
    font-weight: 600;

    @include for-wide-layout {
      width: 50vw;
    }

    @include for-tablet-layout {
      width: 60vw;
    }

    @include for-mobile-layout {
      width: 80vw;
    }

    .interviews {
      img {
        width: 20px;
        margin-right: 5px;
      }

      span {
        align-items: center;
        display: flex;
      }
    }

    .actions {
      right: 5px;
      top: 8px;
      position: absolute;
      gap: 3px;
      align-items: flex-start;

      img {
        width: 20px;
        cursor: pointer;
      }
    }
  }



}